### DS 5110 Assignment 1 Report
#### Eric Tria
#### emt4wf

In [1]:
import findspark
findspark.init('/home/ubuntu/spark-3.3.1-bin-hadoop3')

In [2]:
findspark.find()

'/home/ubuntu/spark-3.3.1-bin-hadoop3'

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [4]:
spark = SparkSession.builder\
    .appName('Spark Assignment 1 Report')\
    .master('spark://172.31.82.177:7077')\
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/21 03:14:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
# Problem 2

p2_df = spark.read.load(
    'hdfs://172.31.82.177:9000/export_sorted.csv',
    format = 'csv',
    inferSchema = 'true',
    sep = ',',
    header = 'true'
)

In [8]:
p2_df.show(20)

+-------------+---------+----+----+--------------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|                  cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+-------------+---------+----+----+--------------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|            5|     1217|  AE| ARE|United Arab Emirates|      501|device-mac-501e4O...|      48|  213.42.16.154|    24.0|yellow|     54.0|Celsius|  16|1458444054343|
|            0|      915|  AR| ARG|           Argentina|      227|meter-gauge-2273p...|      34|  200.71.230.81|   -34.6| green|   -58.38|Celsius|  15|1458444054251|
|            1|     1189|  AR| ARG|           Argentina|      319|meter-gauge-319Y3...|      54| 200.71.236.145|   -34.6|yellow|   -58.38|Celsius|  25|1458444054287|
|            8|     1386|  AR| ARG|           Argentina|      763|meter-gauge-763JW...|      82|    200.55.0.70|   -34.6|yellow|   -58.38|Celsius|  21|1458444054404|
|            0|      861|  AR| ARG|           Argentina|      943|meter-gauge-943BT...|      77|  200.59.128.19|   -34.6| green|   -58.38|Celsius|  33|1458444054435|
|            5|      939|  AT| AUT|             Austria|       21|  device-mac-21sjz5h|      44|193.200.142.254|    48.2| green|    16.37|Celsius|  30|1458444054131|
|            6|     1328|  AT| AUT|             Austria|       75|device-mac-75OLmC...|      96| 143.161.246.65|    48.2|yellow|    16.37|Celsius|  12|1458444054168|
|            8|     1287|  AT| AUT|             Austria|      236|sensor-pad-2369xz...|      47|  217.25.119.17|    48.2|yellow|    16.37|Celsius|  22|1458444054256|
|            2|     1522|  AT| AUT|             Austria|      257|meter-gauge-257AT...|      26|   87.243.133.1|    47.2|   red|    14.83|Celsius|  16|1458444054266|
|            1|      811|  AT| AUT|             Austria|      271|meter-gauge-271BjIL0|      31|  149.148.140.1|    48.2| green|    16.37|Celsius|  16|1458444054271|
|            7|      904|  AT| AUT|             Austria|      294|sensor-pad-294FMZ...|      26|     83.65.45.1|    48.2| green|    16.37|Celsius|  14|1458444054279|
|            6|      917|  AT| AUT|             Austria|      369|device-mac-369rYH...|      25|  193.239.188.1|    48.2| green|    16.37|Celsius|  23|1458444054303|
|            3|      826|  AT| AUT|             Austria|      483|device-mac-483Tyi...|      90| 84.116.245.201|    48.2| green|    16.37|Celsius|  16|1458444054339|
|            2|      816|  AT| AUT|             Austria|      504|sensor-pad-504Kdi...|      78| 87.243.151.193|   47.27| green|     11.4|Celsius|  32|1458444054344|
|            1|     1196|  AT| AUT|             Austria|      585|device-mac-5851AntHC|      51|   84.116.252.9|    48.2|yellow|    16.37|Celsius|  27|1458444054364|
|            4|     1042|  AT| AUT|             Austria|      758| sensor-pad-7589QBtr|      48|   62.218.4.130|    48.2|yellow|    16.37|Celsius|  30|1458444054403|
|            5|     1543|  AT| AUT|             Austria|      767|meter-gauge-767rd...|      65|  195.222.121.1|    48.2|   red|    16.37|Celsius|  19|1458444054405|
|            0|      941|  AT| AUT|             Austria|      974|sensor-pad-974x9dkX1|      53| 84.116.216.166|    48.2| green|    16.37|Celsius|  26|1458444054439|
|            8|      895|  AT| AUT|             Austria|      977|meter-gauge-977yB...|      52|     83.65.95.1|    48.2| green|    16.37|Celsius|  11|1458444054440|
|            0|      899|  AU| AUS|           Australia|      111|device-mac-111WYt...|      32| 203.123.94.193|   -27.0| green|    133.0|Celsius|  16|1458444054189|
+-------------+---------+----+----+--------------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

In [10]:
# Problem 3 Task 1

p3_t1_df = spark.read.load(
    'hdfs://172.31.82.177:9000/page_rank.csv',
    format = 'csv',
    inferSchema = 'true',
    sep = ',',
    header = 'true'
)

In [12]:
p3_t1_df.sort(col('rank').desc()).show(20)

+------+------------------+
|  link|              rank|
+------+------------------+
|272919| 6531.324623752457|
|438238| 4335.323158564437|
|571448| 2383.897607411892|
|601656|2195.3940755967287|
|316792| 1855.690875790151|
|319209|1632.8193684975695|
|184094|1532.2842374483394|
|571447| 1492.930163093879|
|401873| 1436.160093346928|
| 66244|1261.5783958673348|
| 68949| 1260.791942134914|
|284306| 1257.247565064485|
| 68948|1251.1723536459233|
| 86239| 1235.298540597626|
| 68947| 1235.298540597626|
| 86237| 1235.298540597626|
| 95551| 1235.298540597626|
| 77284|1235.2985405976256|
| 96070|1235.2985405976256|
| 86238|1235.2985405976256|
+------+------------------+
only showing top 20 rows

In [13]:
# Problem 3 Task 2

p3_t2_df = spark.read.load(
    'hdfs://172.31.82.177:9000/page_rank_partitioned.csv',
    format = 'csv',
    inferSchema = 'true',
    sep = ',',
    header = 'true'
)

In [14]:
p3_t2_df.sort(col('rank').desc()).show(20)

+------+------------------+
|  link|              rank|
+------+------------------+
|272919| 6531.324623752432|
|438238| 4335.323158564448|
|571448| 2383.897607411887|
|601656|2195.3940755967283|
|316792|1855.6908757901415|
|319209|1632.8193684975686|
|184094| 1532.284237448331|
|571447|1492.9301630938776|
|401873|1436.1600933469247|
| 66244|1261.5783958673321|
| 68949|1260.7919421349116|
|284306|1257.2475650644828|
| 68948|1251.1723536459206|
| 96070|1235.2985405976247|
| 86238| 1235.298540597624|
| 95551|1235.2985405976233|
| 86239|1235.2985405976233|
| 68947| 1235.298540597623|
| 77284| 1235.298540597623|
| 66909| 1235.298540597623|
+------+------------------+
only showing top 20 rows

In [15]:
# Problem 3 Task 3

p3_t3_df = spark.read.load(
    'hdfs://172.31.82.177:9000/page_rank_task3.csv',
    format = 'csv',
    inferSchema = 'true',
    sep = ',',
    header = 'true'
)

In [16]:
p3_t3_df.sort(col('rank').desc()).show(20)

+------+------------------+
|  link|              rank|
+------+------------------+
|272919| 6531.324623752428|
|438238| 4335.323158564447|
|571448| 2383.897607411891|
|601656|2195.3940755967283|
|316792|1855.6908757901417|
|319209| 1632.819368497569|
|184094|1532.2842374483303|
|571447|1492.9301630938783|
|401873|1436.1600933469251|
| 66244|1261.5783958673344|
| 68949|1260.7919421349136|
|284306|1257.2475650644833|
| 68948| 1251.172353645923|
| 96070|1235.2985405976262|
| 68947|1235.2985405976258|
| 95552|1235.2985405976256|
| 68946|1235.2985405976256|
| 86239|1235.2985405976256|
| 77284|1235.2985405976256|
| 66909|1235.2985405976256|
+------+------------------+
only showing top 20 rows